--- 
layout: stylesheet 
---
* {}

:root {
    --background-colour: #111111;
    --standard-colour: #121212; /* basic block elements */
    --standard-highlight-colour: #161616; /* block elements inside */

    --standard-text-colour: white;
    --highlight-text-colour: #823;
    
    --nav-bar-background: rgb(13, 13, 13);

    --max-width: 700px;

    /* Posts Vars */
    --code-block-background: #121212;
    --sub-title-colour: #823;
    --post-link-colour: rgb(18, 108, 243);
}

/*
START 
    FORMATTING

*/
html {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    font-style: normal;

    letter-spacing: -0.02em;

    height: 100%;
    width: 100%;
    margin: 0;

    background: var(--background-colour);

    color: var(--standard-text-colour);
    overflow-x: hidden;
}

body {
    position: relative;
    min-height:100vh;
    width: 100%;
    margin: 0;
}

body::after {
    content: '';
    display: block;
    height: 50px; /* Set same as footer's height */
}

a {
    text-decoration: none;
    color: var(--standard-text-colour);
}


a:hover {
    text-decoration: none;
    color: var(--standard-text-colour);
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
/*
END
    FORMATTING

*/

/*
START 
    SCROLLBAR

*/
/* width */

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

/* Track */

::-webkit-scrollbar-track {
    background: rgba(25, 25, 25, 1);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5);
    border-radius: 5px;
}

/*
END
    SCROLLBAR

*/

#copyright {
    position: absolute;
    float:left;
    z-index: 10;
    top: 10px;
    left: 10px;
}
/*
START
    NAV

*/
div.web-nav {
    padding: 16px;
    width: 300px;
    position: fixed;
    top:0;
    z-index: 10;

}

div.web-nav .title {
    font-size: 2em;
}

div.web-nav .socials {
    position: relative;
    display: flex;
    flex-direction: row;

    gap: 5px;
    height: 32px;
    padding-bottom: 4px;
}


div.web-nav .socials span {
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
    background-position: center;
    background-size: cover;
}

div.web-nav .socials span#github {
    background-image: url("/images/icons/Github-Logo.svg");
}

div.web-nav .socials span#linkedin {
    background-image: url("/images/icons/Linkedin-Icon.png");
}

div.web-nav .socials span#email {
    background-image: url("/images/icons/Email-Icon.png");
}

div.web-nav .socials span#tryhackme {
    background-image: url("/images/icons/Tryhackme-Icon.svg");
}

div.web-nav .nav-buttons {
    gap:5px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-decoration: underline;
}
/* for some reason the first child element doesn't get underlined????? */
div.web-nav .nav-buttons::before {
    content: '';
    position: relative;
}


@media(max-width:1000px) {
    div.web-nav {
        z-index: 10;
        padding: 0;
        padding-top: 8px;
        background-color: var(--nav-bar-background);
        width: 100%;
        overflow-y: hidden;
        transition: all 0.2s ease;
        height: 48px;
        user-select: none;
    }

    div.web-nav.shown {
        height: 248px;
    }

    div.web-nav::after {
        background-color: white;
        height: 2px;
        width: 25%;
        position: absolute;
        content: '';
        bottom: 3px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    div.web-nav .title {
        font-size: 2em;
        text-align: center;
    }
    
    div.web-nav .socials {
        align-items: center;
        justify-content: center;
        margin-top: 6px;
    }

    div.web-nav .nav-buttons {
        width: 100%;
        gap:2px;
        text-decoration: underline;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    div.web-nav .nav-buttons * {
        background-color: var(--background-colour);
        width: 100%;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
        /*border-bottom: 1px white solid;*/
    }
}
/*
END
    NAV

*/

div.web-creator {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    

}

div.web-creator a {
    color:rgba(100, 100, 100, 0.3);
}