<div id="web-nav" class="web-nav">
    <div class="title">
        {{ site.title }}
    </div>
    <div class="socials">
        <a href="{{ site.github_link }}"><span id="github"></span></a>
        <a href="{{ site.linkedin_link }}"><span id="linkedin"></span></a>
        <a href="mailto:{{ site.email }}"><span id="email"></span></a>
    </div>
    <div class="nav-buttons">
        <a href="/" class="">Home</a>
        <a href="/blog/" class="">Blog</a>
        <a href="{{ site.notes_link }}" class="">Notes</a>
    </div>
</div>